<%= form_for ([@post, @post.comments.build]) do |f| %>
  <div class="field">
  	<%= f.lable :commenter %><br>
  	<%= f.text_filed :commenter %>
  </div>
  <div class="field">
  	<%= f.lable :body %><br>
  	<%= f.text_area :body %>
  </div>
  <div class="actions">
  	<%= f.submit %>
  </div>
<% end %>
